.vs/
DX11/x64/
x64/Debug/DefaultShader.cso
x64/Debug/DX11.exe
x64/Debug/DX11.pdb
x64/Release/DX11.exe
x64/Release/DX11.pdb
lib/debug
lib/release
DX11/*.fbx
DX11/dancerNormal.jpg
DX11/dancer.fbm/rp_manuel_animated_001_dif.jpg
